<footer class="pv6 bt b--black-10 black-70" id="footer">
  <a href="mailto:{{ site.email }}" class="link b f3 f2-ns dim black-70 lh-solid">{{ site.email }}</a>
  <p class="f6 db b ttu lh-solid">© 2015-19 {{ site.name }}</p>
  <div class="mt5">
    <a href="/language/" title="Language" class="f6 dib pr2 mid-gray dim">Language</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
  </div>
  <p class="f6 dib mid-gray">Questo sito non fa uso di cookie</p>
</footer>
