<footer class="" id="footer">

  <h1><a href="mailto:{{ site.email }}" class="">{{ site.email }}</a></h1>
  <p class="">© 2015-19 {{ site.name }}</p>
  <nav class="">
    <div class="">
      {% for nav in site.data.navs %}
      <a class="" href="{{ nav.url}}" title="{{ nav.title }}">{{ nav.title }}</a>
      {% endfor %}
    </div>
  </nav>
  <a class="" href="#" title="facebook">
    facebook
  </a>
  <a class="" href="#" title="twitter">
      twitter
  </a>
  <a class="" href="#" title="github">
    github
  </a>
  <div class="">
    <a href="/language/" title="Language" class="">Statuto</a>
    <a href="/terms/"    title="Terms" class="">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="">Privacy</a>
  </div>
  <p class="">Questo sito non fa uso di cookie</p>
</footer>
