<div class="pt1">
  <div class="">
    <div class="flex items-end">
      <a href="/" class="ink link"><h1 class="f-headline fw6 pa0 ma0">{{ site.aka }}</h1></a>
      <div class="flex items-end pb4">
        <div class="bg-dark-pink square15 mr2"></div>
        <div class="bg-gray square15 mr2 rot15"></div>
        <div class="bg-blue square15 rot30"></div>
      </div>
    </div>
    <h5 class="f5-ns f6 fw1 pt0 mt0 pl5-ns pl4">Gestione patrimonio dati con filosofia</h5>
  </div>

  <nav class="pv3 avenir">
      <a href="#Chi" class="link dim gray f5 f4-ns dib mr3">Chi</a>
      <a href="#Cosa" class="link dim gray f5 f4-ns dib mr3">Cosa</a>
      <a href="#Come" class="link dim gray f5 f4-ns dib mr3">Come</a>
      <a href="#Acquista" class="link dim gray f5 f4-ns dib mr3">Compra</a>
      <a href="#Leggi" class="link dim gray f5 f4-ns dib mr3">Leggi</a>
  </nav>
  <h3></h3>

</div>
