<nav class="pt1 pb5">
  <h1 >{{ site.aka }}<span class="cursor">_</span></h1>
  <p>{{ site.payoff }}</p>
  <div class="pb3">
    <a class="link dim gray f6 f5-ns dib mr3 underline" href="#" title="Home">Home</a>
    <a class="link dim gray f6 f5-ns dib mr3 underline" href="#" title="About">About</a>
    <a class="link dim gray f6 f5-ns dib mr3 underline" href="#" title="Store">Store</a>
    <a class="link dim gray f6 f5-ns dib underline" href="#footer" title="Contact">Contact</a>
  </div>
</nav>
